<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<!--<meta content="yes" name="apple-mobile-web-app-capable">-->
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
	
	<!--<link rel="apple-touch-icon-precomposed" href="../../../apple-touch-icon.png"/>-->
	<link rel="apple-touch-icon-precomposed" href="../../../SMARTiP-DynamicData/images/apple-touch-icon.png"/>
	
	<!-- iPhone -->
	<link href="../../../apple-touch-icon-start-320x460.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
	<!-- iPhone (Retina) -->
	<link href="../../../apple-touch-icon-start-640x920.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	<!-- iPhone 5 (Retina) -->
	<link href="../../../apple-touch-icon-start-640x1096.png"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
</head>

<body class="$css_class" >

$theme.include($body_top_include)

<div id="wrapper">
	
	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>