@CHARSET "ISO-8859-1";

/* Tabella Colori

	#E49241 Arancio Base
	#FF9900 Arancio Chiaro
	#FFB062 Arancio Chiaro+
	#B75B00 Arancio Scuro
	#D96C00 Arancio Scuro+
	
	#2361AB Blu Base
*/

/* ---------- Links ---------- */
.orange a:link {
	color:#D96C00;
}
.orange a:visited {
	color:#D96C00;
}
.orange a:hover {
	color:#E49241;
}
.orange a:active {
	color:#D96C00;
}
.orange .aui-tab-active, .aui-tab-active a {
    color: #FFFFFF;
}

/* ***********DOCKBAR*********** */
.orange .dockbar {
  background-color: #AFA798;
  /*background-image: url(../../images/color_schemes/orange/dockbar/dockbar_bg.png);*/
}
.orange .dockbar .menu-button-active {
  background-color: #DBAC5C;
  /*background-image: url(../../images/color_schemes/orange/dockbar/button_active_bg.png);*/
}

/* ***********NAVIGATION*********** */
.orange #navigation {
	background: #E49241;
	background-image: -moz-linear-gradient(top, #E49241, #D96C00);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E49241),color-stop(1, #D96C00));
}

.orange #navigation #menuWithChild{
	background: transparent url("../../images/arrows/05_down.png") no-repeat 100% 65%;
}

.orange #navigation li.hover a, 
.orange #navigation .child-menu li a, 
.orange #navigation .yui3-dd-dragging, 
.orange .lfr-navigation-proxy {
	  background: #E49241;
	  color: #FFF;
	  outline: 0;
	  text-shadow: -1px -1px black; 
 }

.orange #navigation a:active,
.orange #navigation a:focus,
.orange #navigation a:hover {
	background: #FFB062;
	background-image: -moz-linear-gradient(top, #FFB062, #E49241);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFB062),color-stop(1, #E49241));
}

.orange #navigation .selected a {
	background: #D96C00;
	background-image: -moz-linear-gradient(top, #D96C00, #B75B00);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #405B7B),color-stop(1, #B75B00));
}


.orange #navigation .child-menu li a {
	background-color: #FF8000;
  cursor: pointer !important; 
}

.orange #navigation .child-menu li a:hover, #navigation li a.active {
  background-color: #E49241; 
}

.orange #navigation .child-menu .selected a {
  background: #E49241 url("../../images/color_schemes/orange/navigation/bullet_selected.png") no-repeat 6px 50%; 
  padding-left: 15px;
  }

.orange #navigation .child-menu .child-menu-2 li a {
	background: #FFB062;
  cursor: pointer !important; 
}
.orange #navigation .child-menu .child-menu-2 li a:hover, #navigation .child-menu-2 li a.active {
  background-color: #E49241; 
}
.orange #navigation .child-menu .child-menu-2 .selected a {
  background: #E49241 url("../../images/color_schemes/orange/navigation/bullet_selected.png") no-repeat 6px 50%;
  padding-left: 15px;
}

.orange .nav-menu li a.selected{
	color: #D96C00;
}

/* ***********BREADCRUMBS*********** */
.orange .site-breadcrumbs li.first a {
  color: #D96C00;
}
.orange .site-breadcrumbs li.last a {
  color: #D96C00;
}

/* ***********PORTLET*********** */
.orange .portlet {
	border-color: #FFB062;/*FFD3A8*/
}

.orange .portlet-title {
    border-bottom-color: #FFB062;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
}

.orange .portlet-title-text {
	color: #B75B00;
	cursor: pointer;
}

/* ************LOGIN Portlet********** */

.orange .portlet-login #welcome-login{
	color: #B75B00;
	text-align: center;
}
.orange .portlet-login #legend-login{
	color: #B75B00;
	font-weight: normal;
}
