@import url(color_schemes/blue.css);
@import url(color_schemes/red.css);
@import url(color_schemes/orange.css);
@import url(color_schemes/orange-light.css);
/* @import url(color_schemes/mobile.css); */


/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1, .site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #F7F7F7 url(../images/custom/body_bg.png) repeat-x;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	font: 11px/1.5 Verdana, Arial, sans-serif;
	margin: 0 auto;
	width: 1002px;
}

#skip-to-content, #sign-in {
	margin: 0 10px 0 950px;
}

.rtl #skip-to-content, .rtl #sign-in {
    margin: 0 950px 0 10px;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#skip-to-content {
	top: 1em;
}


/* -------- Banner -------- */

.logo {
    background: url("/SMARTiP-DynamicData/images/SMARTiP-banner_v1.png") repeat scroll 0 0 transparent;
    display: block;
    height: 100px;
}
.logo > img {
    display: none;
}

#banner{
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px -1px;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0 0 6px 6px;
}

#heading .company-title {
	margin: 0;
	padding: 0px 0;
}

#heading .company-title a {
}

/* ---------- Main navigation ---------- */
#navigation {
	-moz-border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 1px 0 #D2D2D2;
	-webkit-border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0 1px 0 #D2D2D2;
	background: #CCC;
	background-image: -moz-linear-gradient(top, #CCC, #9A9A9A);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CCC),color-stop(1, #9A9A9A));
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 0 #D2D2D2;
	font: 12px/1.5 Verdana, Frutiger, "Frutiger Linotype", Univers, Calibri, Gill Sans, Gill Sans MT, Myriad Pro, Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 3px;
}

#navigation #menuWithChild{
	background: transparent url("../images/arrows/05_down.png") no-repeat 100% 65%;
}


#navigation ul {
  	list-style: none;
  	margin: 0;
	padding-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0;
}

.ie7 #navigation ul {
  padding: 2px; }

#navigation li, #navigation a {
  display: inline-block; }

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
  display: inline;
  zoom: 1;
  z-index: 200; }

#navigation li {
  position: relative;
  vertical-align: top; }

#navigation a {
  color: #FFF;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 1px;
  padding: 3px 10px;
  text-decoration: none; 
}

#navigation .signinlink a{
	font-weight: normal;
	display: none;
}

.ie6 #navigation a, .ie7 #navigation a {
  padding: 4px 15px; }

#navigation .yui3-dd-drop a {
  cursor: move; }

#navigation .selected a, #navigation li.hover a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .yui3-dd-dragging, .lfr-navigation-proxy {
  background: #cccccc;
  color: #FFF;
  outline: 0;
  text-shadow: -1px -1px black; }

#navigation li:hover .child-menu {
  background: transparent;
  display: block;
  position: absolute;
  width: 200px;
  z-index: 250; }

.ie6 #navigation ul.child-menu-visible, .ie6 #navigation li.hover .child-menu, .ie7 #navigation ul.child-menu-visible, .ie7 #navigation li.hover ul.child-menu {
  left: 0;
  top: 25px; }

#navigation .child-menu {
  display: none; }

#navigation .child-menu li {
  border-width: 0 0 1px;
  display: block;
  float: none;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 0;
  margin-top: 2px; 
}

#navigation .child-menu li a {
	background-color: #888888;
  cursor: pointer !important; 
}

.ie7 #navigation .child-menu li a {
  zoom: 1; }

#navigation .child-menu li a:hover, #navigation li a.active {
  background-color: #777777; 
}

#navigation .child-menu .selected a {
  background: #C0C0C0 url(../images/navigation/bullet_selected.png) no-repeat 6px 50%; 
  padding-left: 15px;
}
  
/**********/
#navigation .child-menu .child-menu-2 li a {
	background: #aaaaaa;
  cursor: pointer !important; 
}
#navigation .child-menu .child-menu-2 li a:hover, #navigation .child-menu-2 li a.active {
  background-color: #777777; 
}
#navigation .child-menu .child-menu-2 .selected a {
  background: #C0C0C0 url(../images/navigation/bullet_selected.png) no-repeat 6px 50%;
  padding-left: 15px;
}

/**********/
.nav-menu-style-arrows ul {
  list-style-image: url(../images/navigation/bullet_selected_gray.png); }

#navigation li.signinlink {
	/*display: none;*/
	float: right;
}

.portlet-login .navigation{
	background-color: transparent;
}

/* ---------- Breadcrumbs ---------- */
.breadcrumbs-horizontal {
  margin-bottom: 1.5em; }

.breadcrumbs-horizontal li {
  background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
  margin-right: 5px;
  max-width: 50%;
  padding-right: 15px; }

.breadcrumbs-vertical li {
  background: url(../images/arrows/07_down.png) no-repeat 50% 100%;
  padding: 0 0 9px;
  max-width: auto; }

.breadcrumbs a {
  display: block; }

.breadcrumbs-vertical a {
  text-align: center;
  text-decoration: none; }

.breadcrumbs .last {
  background-image: none; }

.breadcrumbs-horizontal .last {
  margin-top: 0.2em; }

.breadcrumbs-vertical .last {
  font-weight: bold; }

.breadcrumbs-horizontal .last a, .aui-tree-node-selected a {
  color: #555; }

/* ---------- Extras ---------- */
.logo .current-site, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; 
 }

/* ---------- Site breadcrumbs ---------- */
.site-breadcrumbs {
  margin: 0 0 5px;
  width: auto; }

.site-breadcrumbs ul {
  background-color: #FFF;
  border: 1px solid #C0C2C5;
  box-shadow: 0 0 4px -1px;
  margin: 10px 0 0 0; }

.site-breadcrumbs li {
  background-image: none;
  margin-right: 0;
  padding-left: 0.75em;
  padding-right: 0; 
  display: inline-block;
  }

.ltr .site-breadcrumbs li span {
  background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
  display: block;
  padding: 0.5em 15px 0.5em 0; }

.rtl .site-breadcrumbs li span {
    background: url("../images/common/breadcrumbs_rtl.png") no-repeat scroll 0 50% transparent;
    display: block;
    padding: 0.5em 10px 0.5em 15px;
}

.site-breadcrumbs li span a {
  text-decoration: none; }

.site-breadcrumbs li.first a {
  color: #777;
  font-weight: bold; }

.site-breadcrumbs li.last a {
  color: #777;
}

.site-breadcrumbs .last {
  font-size: 1em;
  margin-top: 0;
  padding-right: 0; }

.site-breadcrumbs .last span {
  background-image: none;
  padding: 0; }

/* ---------- Hudcrumbs ---------- */
.lfr-hudcrumbs {
  position: fixed;
  top: 0;
  z-index: 440; }

.lfr-hudcrumbs ul {
  background: #fff;
  background: rgba(255, 255, 255, 0.8); }

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

.lfr-hudcrumbs li span {
  background-image: url(../images/common/breadcrumbs_hud.png); }

/* -------- Content -------- */

#content {
	background: #F9F7F5;
}

.portlet {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #FFF url(../images/custom/portlet_bg.png) repeat-x left bottom;
	border: 1px solid #DBDBDB;
	border-radius: 6px;
	box-shadow: 0 0 4px -1px;
	margin: 0 0 10px;
	padding: 10px;
}

.portlet-content {
	padding: 10px 0 0;
}

/* -------- Footer -------- */
#footer {
	border-top: 1px solid #C0C2C5;
}

#footer p {
	margin: 0;
}

.powered-by a {
    background-image: url("../images/logo-eng.png");
    background-position: 0 8px;
    background-repeat: no-repeat;
    float: left;
    height: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 80px;
    width: 100px;
}



/* Info Google */
/*
.gm-style div, .gm-style span, .gm-style label, .gm-style a{
	
	font-family: verdana ,Arial,sans-serif;
    font-size: 9px;
    font-size-adjust: 0.7;
    line-height: 14px;
}
*/