@import url(color_schemes/essential.css);

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1, .site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #F7F7F7 url(../images/custom/body_bg.png) repeat-x;
}
