html,body{
	background-color: #ffffff;;
}
p{
	margin-bottom: 0;
}
#parcheggi{
    font-family: verdana;
    font-size: 8pt;
}
#elenco_parcheggi {
    height: 535px;
    overflow: auto;
}
.namePark {
    margin: 0 0 3px;
    width: 98%;
    background-color: #e1e1e1;
    padding: 5px;
}
#dettagliParcheggio {
    margin: 10px;
    line-height: 14px;
}
