
#parcheggi{
    font-family: verdana;
    font-size: 8pt;
    color: #174071;
}
#elenco_parcheggi {
    border-top: 3px solid #E49241;
    height: 313px;
    margin: 2px 0 3px;
    overflow: auto;
}
.info{
	border-bottom: 3px solid #d2d2d2;
	
}
.namePark {
    margin: 0 0 3px 0;
    width: 80%;
}
.imgPark {
    margin: 0;
    padding: 6px 2px 0 1px;
}
.imgPark img {
    margin: 0 5px 0px 5px;
}
#lblPosti {
    font-weight: bold;
    margin: 0 2px 0 7px;
}
#lblParkeggi{
	font-weight: bold;
    margin: 0 0 0 6px;
	
}

.accordian li {
	list-style-type: none;
	padding: 5px 0px 0;
	border-bottom: 1px dotted #D2D2D2;
}

#ordinabtn{
	float: right;
}
