/***** ORANGE COLORS *****/

@CHARSET "ISO-8859-1";

/* ----------Hidden Elements------------*/
.mobile #dockbar{
	display: none;
}
.mobile #skip-to-content{
	display: none;
}
.mobile #banner{
	display: none;
}
.mobile .site-breadcrumbs{
	display: none;
}
.mobile .lfr-hudcrumbs{
	display: none;
}

.mobile #breadcrumbs{
	display: none;
}
.mobile #footer{
	display: none;
}

body.mobile {
	margin: 0px auto;
}

/* ---------- Links ---------- */
.mobile a {
	color:#D96C00;
}
.mobile a:hover {
	color:#E49241;
}

.mobile a:visited {
	color:#FFB062;
}
.mobile .aui-tab-active, .aui-tab-active a {
    color: #FFFFFF;
}

/* ***********DOCKBAR*********** */
.mobile .dockbar {
  background-color: #AFA798;
  /*background-image: url(../../images/color_schemes/mobile/dockbar/dockbar_bg.png);*/
}
.mobile .dockbar .menu-button-active {
  background-color: #DBAC5C;
  /*background-image: url(../../images/color_schemes/mobile/dockbar/button_active_bg.png);*/
}

/* ***********NAVIGATION*********** */
.mobile #navigation {
	background: #E49241;
	background-image: -moz-linear-gradient(top, #E49241, #D96C00);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E49241),color-stop(1, #D96C00));
}

.mobile #navigation #menuWithChild{
	background: transparent url("../../images/arrows/05_down.png") no-repeat 100% 65%;
}

.mobile #navigation li.hover a, 
.mobile #navigation .child-menu li a, 
.mobile #navigation .yui3-dd-dragging, 
.mobile .lfr-navigation-proxy {
	  background: #E49241;
	  color: #FFF;
	  outline: 0;
	  text-shadow: -1px -1px black; 
 }

.mobile #navigation a:active,
.mobile #navigation a:focus,
.mobile #navigation a:hover {
	background: #FFB062;
	background-image: -moz-linear-gradient(top, #FFB062, #E49241);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFB062),color-stop(1, #E49241));
}

.mobile #navigation .selected a {
	background: #D96C00;
	background-image: -moz-linear-gradient(top, #D96C00, #B75B00);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #405B7B),color-stop(1, #B75B00));
}


.mobile #navigation .child-menu li a {
	background-color: #FF8000;
  cursor: pointer !important; 
}

.mobile #navigation .child-menu li a:hover, #navigation li a.active {
  background-color: #E49241; 
}

.mobile #navigation .child-menu .selected a {
  background: #E49241 url("../../images/color_schemes/mobile/navigation/bullet_selected.png") no-repeat 6px 50%; 
  padding-left: 15px;
  }

.mobile #navigation .child-menu .child-menu-2 li a {
	background: #FFB062;
  cursor: pointer !important; 
}
.mobile #navigation .child-menu .child-menu-2 li a:hover, #navigation .child-menu-2 li a.active {
  background-color: #E49241; 
}
.mobile #navigation .child-menu .child-menu-2 .selected a {
  background: #E49241 url("../../images/color_schemes/mobile/navigation/bullet_selected.png") no-repeat 6px 50%;
  padding-left: 15px;
}

.mobile .nav-menu li a.selected{
	color: #D96C00;
}

/* ***********Content*********** */
.mobile #wrapper{
	width:90%;
}
.mobile #content{
	background-color: transparent;
}

/* ***********PORTLET*********** */
.mobile .portlet {
	border-color: #FFB062;/*FFD3A8*/
}

.mobile .portlet-title {
    border-bottom-color: #FFB062;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
}

.mobile .portlet-title-text {
	color: #B75B00;
	cursor: pointer;
}

/* ************LOGIN Portlet********** */
.mobile .portlet-login input{
	font-size: 2em;
}
.mobile .portlet-login img.icon{
	/*width: 40px;*/
}

.mobile .portlet-login #welcome-login{
	color: #B75B00;
	text-align: center;
}
.mobile .portlet-login #legend-login{
	color: #FFB062;
	font-weight: normal;
}



