@CHARSET "ISO-8859-1";

/* Tabella Colori
*{
	color: Verde Base /  Pantone 369c	#44A12B
	color: #	-			 			#78B355
	color: #	-			 			#78B355
	color: Verde Chiaro / Pantone 376c  #97BF0D
	color: #	-			  			#B0CB52
	color: #	-			 			#B0CB52
	color: Marrone Chiaro / Pantone 158c	#E49241
	color: #	-							#F8B334
	color: #	+							#A48A77
	color: Giallo Chiaro / Pantone 129c		#F7CA00

	color: #174071 Blu Base				3
}
*/



/* ---------- Links ---------- */
.orange-light a:link {
	color:#E49241;
}
.orange-light a:visited {
	color:#E49241;
}
.orange-light a:hover {
	color:#E96B10;
}
.orange-light a:active {
	color:#E49241;
}
.orange-light .aui-tab-active, .aui-tab-active a {
    color: #FFFFFF;
}

/* ***********DOCKBAR*********** */
.orange-light .dockbar {
  background-color: #AFA798;
  /*background-image: url(../../images/color_schemes/orange/dockbar/dockbar_bg.png);*/
}
.orange-light .dockbar .menu-button-active {
  background-color: #DBAC5C;
  /*background-image: url(../../images/color_schemes/orange/dockbar/button_active_bg.png);*/
}

/* ***********NAVIGATION*********** */
.orange-light #navigation {
	background: #E49241;
	background-image: -moz-linear-gradient(top, #F7CA00, #E49241);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F7CA00),color-stop(1, #E49241));
}

.orange-light #navigation #menuWithChild{
	background: transparent url("../../images/arrows/05_down.png") no-repeat 100% 65%;
}

.orange-light #navigation .selected a, 
.orange-light #navigation li.hover a, 
.orange-light #navigation a:hover, 
.orange-light #navigation a:focus, 
.orange-light #navigation .child-menu li a, 
.orange-light #navigation .yui3-dd-dragging, 
.orange-light .lfr-navigation-proxy {
  	  background: #E96B10;
	  color: #FFF;
	  outline: 0;
	  text-shadow: -1px -1px #A48A77;  
}

.orange-light #navigation a:active,
.orange-light #navigation a:focus,
.orange-light #navigation a:hover {
	background: #E49241;
	background-image: -moz-linear-gradient(top, #E49241, #E96B10);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E49241),color-stop(1, #E96B10));
}

.orange-light #navigation .selected a {
	background: #E49241;
	background-image: -moz-linear-gradient(top, #E49241, #E49241);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E49241),color-stop(1, #E49241));
}


.orange-light #navigation .child-menu li a {
	background-color: #FF8000;
  cursor: pointer !important; 
}

.orange-light #navigation .child-menu li a:hover, #navigation li a.active {
  background-color: #E96B10; 
}

.orange-light #navigation .child-menu .selected a {
  background: #E96B10 url("../../images/color_schemes/orange/navigation/bullet_selected.png") no-repeat 6px 50%; 
  padding-left: 15px;
  }

.orange-light #navigation .child-menu .child-menu-2 li a {
	background: #E49241;
  cursor: pointer !important; 
}
.orange-light #navigation .child-menu .child-menu-2 li a:hover, #navigation .child-menu-2 li a.active {
  background-color: #E96B10; 
}
.orange-light #navigation .child-menu .child-menu-2 .selected a {
  background: #E96B10 url("../../images/color_schemes/orange/navigation/bullet_selected.png") no-repeat 6px 50%;
  padding-left: 15px;
}

.orange-light .nav-menu li a.selected{
	color: #E49241;
}

/* ***********BREADCRUMBS*********** */
.orange-light .site-breadcrumbs li.first a {
  color: #E49241;
}
.orange-light .site-breadcrumbs li.last a {
  color: #E49241;
}

/* ***********PORTLET*********** */
.orange-light .portlet {
	border-color: #E49241;/*FFD3A8*/
}

.orange-light .portlet-title {
    border-bottom-color: #E49241;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
}

.orange-light .portlet-title-text {
	color: #E49241;
	cursor: pointer;
}

/* ************LOGIN Portlet********** */

.orange-light .portlet-login #welcome-login{
	color: #A24E12;
	text-align: center;
}
.orange-light .portlet-login #legend-login{
	color: #A24E12;
	font-weight: normal;
}
