.portlet-body{
	color: #174071;
}

.infoWindow {
 	
    /*riprendo lo stile del body della pagina*/
	color: #174071 /*{a-body-color}*/;
	background: #716f74 /*{a-body-background-color}*/;
	background: -webkit-gradient(linear, left top, left bottom, from( #E49241 /*{a-body-background-start}*/), to( #FFFFFF /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, #E49241 /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(top, #E49241 /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* FF3.6 */
	background:     -ms-linear-gradient(top, #E49241 /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* IE10 */
	background:      -o-linear-gradient(top, #E49241 /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Opera 11.10+ */
	background:         linear-gradient(top, #E49241 /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#info{
	display:block;
	font-size: 9px;
	line-height: 12px;
    padding: 8px 3px 1px;
	font-size-adjust: 0.7;
	
}
#infolinea{
	/*display:block;*/
	font-size: 9px;
	line-height: 14px;
    padding: 8px 3px 1px;
	font-size-adjust: 0.7;
	
}
#infolinea{
    padding: 3px;
}

 
.infoWindowText {
    background-color: #FFFFFF;
    border-bottom: 2px solid #E49241;
    border-radius: 0 0 0 0;
    border-top: 2px solid #E49241;
    color: #174071;
    line-height: 15px;
    margin: 20px auto 0;
    padding: 5px 9px 8px;
    font-family: Helvetica Neue,Helvetica,arial;
    font-size:12px;
}
 
.infoWindowText ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 6px;
}

.infoWindowText a{
	color:#174074!important;
	font-weight:bold;
	text-shadow:none;
}
.infoWindowText p{
	margin-bottom: 0;
}
.infoWindowDetails{
	padding: 5px;
}
.infoWindowDetails p{
	padding: 0px;
	margin-bottom: 0;
}
.infoWindowWait{
	padding: 0px;
}
.infoWindowWait img{
	text-align: center;
	margin: 0 auto;
}
#infoStringGiu{
	background: url(../images/application_put.png) no-repeat scroll 99% 98% #E49241;
	padding-right: 24px;
}
#infoStringSu{
	background: url(../images/application_get.png) no-repeat scroll 99% 98% #E49241;
	padding-right: 24px;
}
 /*stili per la pagina infopark*/
 
.spanViewLinea{
    border-top: 1px solid #CCCCCC;
    display: block;
    margin-top: 5px;
    padding: 5px 0;
}
.spanViewLinea label{
	padding-left: 3px;
}
.spanViewLinea button{
	margin: 0 5px;
}

/*---- Legenda ----*/
#dialog dl dd {
	margin-left: 1em;
	color: #174071;
}
 