#tabella_eventi {
    border-spacing: 1px;
    color: #174071;
    font-family: verdana;
    font-size: 8pt;
    min-height: 318px;
    min-width: 400px;
}
#captionRow {
    border-bottom: 3px solid #E49241;
    color: #174071;
    float: left;
    margin: 0;
    width: 100%;
}
#loading_eventi {
   	float: left;
   	height: 297px;
    overflow: auto;
}
.listaeventi {
    border-bottom: 1px solid #D2D2D2;
    min-height: 35px;
    overflow: auto;
    width: 100%;
}
#divevento{
	margin:0;
}

.caption {
    float: left;
    margin: 0;
    padding: 0 1px;
}
#image {
    width: 6%;
    text-align: center;
}
.image {
    clear: left;
    min-height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 6%;
}
#evento {
    width: 18%;
}
.evento {
    min-height: 35px;
    padding-left: 2px;
    padding-right: 2px;
    width: 18%;
}
#messaggio {
    width: 35%;
}
.messaggio {
    border-left: 1px dotted #D2D2D2;
    border-right: 1px dotted #D2D2D2;
    min-height: 35px;
    padding-left: 2px;
    padding-right: 2px;
    width: 35%;
}
#data {
    width: 18%;
}
.startdata {
	border-right: 1px dotted #D2D2D2;
    min-height: 35px;    
    padding-left: 2px;
    padding-right: 2px;
    width: 18%;
}
.enddata {
	
    min-height: 35px;    
    padding-left: 2px;
    padding-right: 2px;
    width: 18%;
}

#divevento {
    /* float: left; */
    margin: 5px;
}

.divrecord {
    float: left;
    margin: 0;
    padding-top: 4px;
}
.divrecord .image img{
	padding-top: 5px;
}
.divrecord p {
	 padding: 0px;
	 margin: 0px;
}