html,body{
	/*background-color: #FD9804;*/
    
}
#tabella_eventi {
    font-family: verdana;
    font-size: 8pt;
    height: 500px;
    width: 100%;
}
#loading_eventi {
    height: 479px;
    overflow: auto;
    width: 100%;
}